@media only screen and (max-width:768px) {

    .dwn,
    .str {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;

    }

    .batom {
        display: none !important;
    }

    .yheader {
        padding-bottom: 10rem;

    }

    .gainy,
    .recently {
        margin-top: 3rem;
    }

    .header-text {
        text-align: center;
        margin-top: 5rem;
    }

    .header-text-6::after {
        display: none !important;
    }

    .img-coins {
        display: none !important;
    }

    .tx-1 {
        display: none !important;
    }

    .hr-line {
        color: 1px solid black;
        border-radius: 10%;
        width: 100%;
    }

    .input-decoration {
        width: 13rem;

    }

    .input-decoration2 {
        width: 6rem;
        margin-left: 2rem;

    }

    .buy-text {
        align-content: center;
        margin-top: 1rem;
        font-size: normal !important;
        line-height: normal !important;
        font-weight: bold !important;

    }

    .buy-box {
        padding-left: 5rem;

    }

    .buy-btn {
        width: 100%;
    }

    .buy-img {
        text-align: center;
    }


    .p-img {
        display: none !important;

    }

    .p-img2 {
        display: block !important;
        width: 100%;
        height: auto;
    }

    .h4-partner {
        top: 2rem;
        left: 10%;
        right: 10%;
        text-align: center;
    }

    .p-partner {
        top: 4rem;
        left: 1rem;
        right: 1rem;
        text-align: center;
    }

    .partner-img {
        padding-top: 18rem;

    }

    .part-img {
        text-align: center;
        margin-top: 1rem;
        margin-left: 5rem;

    }

    .part-img-size {
        width: 50%;
        height: auto;
    }

    .credit-box {
        margin-left: 0rem;
        margin-top: 3rem;
    }

    .credit-img {
        margin-left: 0rem;
    }

    .bg-tools {
        background-image: url(./tools/bg-tools2.png);
        padding-bottom: 3rem;

    }

    .tools-img {
        width: 100%;
    }

    .tools-box {
        margin-left: 0;
    }


    .security-p {
        min-width: 100% !important;
    }

    .security-line2,
    .security-line {
        display: none;
    }

    .get-text {
        max-width: 75%;

    }

























}