.p-img {
    width: 100%;
}

.p-img2 {
    display: none;
}

.h4-partner {
    top: 4rem;
    left: 40%;
    right: 30%;
}

.p-partner {
    top: 8rem;
    left: 35%;
    right: 25%;
}

.part-img {
    margin-top: 20rem;
    margin-right: 5rem;
}

.partner-img {
    top: -10rem;
    justify-content: center;
}