.bgx {
    background-color: #f5f4ff;

}

.login {
    padding: 0.75rem 2.5rem;
    background-color: #f5fbfe;
    color: blue;
}

.signup {
    padding: 0.75rem 2.5rem;
     
    &:hover {
        background-color: #f5fbfe;
        color: blue;
    }
}